@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
    font-family: 'FiraCode';
    src: url('./assets/fonts/fira-code/FiraCode-VariableFont_wght.ttf');
}